{{define "aside"}}
<aside class="gdoc-nav">
  <nav>
    <section class="gdoc-nav--main">
      <h1>RK TV</h1>
      <ul class="gdoc-nav__list">
        <li>
          <span class="flex">Application</span>
          <ul class="gdoc-nav__list">
            <li><span class="flex"><a href="/rk/v1/tv/" class="gdoc-nav__entry "> Overview </a></span></li>
            <li><span class="flex"><a href="/rk/v1/tv/api" class="gdoc-nav__entry "> API </a></span></li>
            <li><span class="flex"><a href="/rk/v1/tv/entry" class="gdoc-nav__entry "> Entry </a></span></li>
            <li><span class="flex"><a href="/rk/v1/tv/config" class="gdoc-nav__entry "> Config </a></span></li>
            <li><span class="flex"><a href="/rk/v1/tv/cert" class="gdoc-nav__entry "> Cert </a></span></li>
          </ul>
        </li>
        <li>
          <span class="flex">System</span>
          <ul class="gdoc-nav__list">
            <li><span class="flex"><a href="/rk/v1/tv/os" class="gdoc-nav__entry "> OS </a></span></li>
            <li><span class="flex"><a href="/rk/v1/tv/env" class="gdoc-nav__entry "> Env </a></span></li>
          </ul>
        </li>
        <li>
          <span class="flex">Log</span>
          <ul class="gdoc-nav__list">
            <li><span class="flex"><a href="/rk/v1/tv/log" class="gdoc-nav__entry "> Overview </a></span></li>
          </ul>
        </li>
        <li>
          <span class="flex">Metrics</span>
          <ul class="gdoc-nav__list">
            <li><span class="flex"><a href="/rk/v1/tv/prometheus" class="gdoc-nav__entry "> Prometheus </a></span></li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>
</aside>
{{end}}