{{define "aside"}}
<aside class="gdoc-nav">
  <nav>
    <section class="gdoc-nav--main">
      <h1>RK TV</h1>
      <ul class="gdoc-nav__list">
        <li>
          <span class="flex">Application</span>
          <ul class="gdoc-nav__list">
            <li><span class="flex"><a href="/rk/v1/tv/" class="gdoc-nav__entry "> Overview </a></span></li>
            <li><span class="flex"><a href="/rk/v1/tv/info" class="gdoc-nav__entry "> Info </a></span></li>
            <li><span class="flex"><a href="/rk/v1/tv/apis" class="gdoc-nav__entry "> API </a></span></li>
            <li><span class="flex"><a href="/rk/v1/tv/gwErrorMapping" class="gdoc-nav__entry "> Error Mapping </a></span></li>
            <li><span class="flex"><a href="/rk/v1/tv/entries" class="gdoc-nav__entry "> Entry </a></span></li>
            <li><span class="flex"><a href="/rk/v1/tv/configs" class="gdoc-nav__entry "> Config </a></span></li>
            <li><span class="flex"><a href="/rk/v1/tv/certs" class="gdoc-nav__entry "> Cert </a></span></li>
            <li><span class="flex"><a href="/rk/v1/tv/deps" class="gdoc-nav__entry "> Dependency </a></span></li>
            <li><span class="flex"><a href="/rk/v1/tv/license" class="gdoc-nav__entry "> License </a></span></li>
          </ul>
        </li>
        <li>
          <span class="flex">System</span>
          <ul class="gdoc-nav__list">
            <li><span class="flex"><a href="/rk/v1/tv/os" class="gdoc-nav__entry "> OS </a></span></li>
            <li><span class="flex"><a href="/rk/v1/tv/env" class="gdoc-nav__entry "> Env </a></span></li>
          </ul>
        </li>
        <li>
          <span class="flex">DevOps</span>
          <ul class="gdoc-nav__list">
            <li><span class="flex"><a href="/rk/v1/tv/git" class="gdoc-nav__entry "> Git </a></span></li>
          </ul>
        </li>
        <li>
          <span class="flex">Log</span>
          <ul class="gdoc-nav__list">
            <li><span class="flex"><a href="/rk/v1/tv/logs" class="gdoc-nav__entry "> Overview </a></span></li>
          </ul>
        </li>
        <li>
          <span class="flex">Metrics</span>
          <ul class="gdoc-nav__list">
            <li><span class="flex"><a href="/rk/v1/tv/prometheus" class="gdoc-nav__entry "> Prometheus </a></span></li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>
</aside>
{{end}}