{{define "footer"}}
<footer class="gdoc-footer">
  <div class="container flex flex-wrap">
      <span class="gdoc-footer__item"> Built with <a href="https://gohugo.io/" class="gdoc-footer__link">Hugo</a> and <svg class="icon gdoc_heart"><use xlink:href="#gdoc_heart"></use></svg></span>
  </div>
</footer>
{{end}}