{{define "header"}}
<header class="gdoc-header">
  <div class="container flex align-center justify-between">
    <label for="menu-control" class="gdoc-nav__control">
      <svg class="icon gdoc_menu"><use xlink:href="#gdoc_menu"></use></svg>
      <svg class="icon gdoc_arrow_back"><use xlink:href="#gdoc_arrow_back"></use></svg>
    </label>
    <a class="gdoc-header__link" href="/">
      <span class="gdoc-brand flex align-center"><img class="gdoc-brand__img" src="/rk/v1/assets/tv/image/brand.svg" alt=""> RK-TV </span>
        </a>
        <span id="gdoc-dark-mode">
            <svg class="icon gdoc_brightness_dark"><use xlink:href="#gdoc_brightness_dark"></use></svg>
            <svg class="icon gdoc_brightness_light"><use xlink:href="#gdoc_brightness_light"></use></svg>
            <svg class="icon gdoc_brightness_auto"><use xlink:href="#gdoc_brightness_auto"></use></svg>
        </span>
    </div>
</header>
{{end}}