{{define "head"}}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="color-scheme" content="light dark">
  <title>RK TV</title>
  <!--- js --->
  <script crossorigin="anonymous" src="/rk/v1/assets/tv/js/jquery.min.js"></script>
  <script crossorigin="anonymous" src="/rk/v1/assets/tv/js/Chart.bundle.min.js"></script>
  <script crossorigin="anonymous" src="/rk/v1/assets/tv/js/darkmode.min.js"></script>
  <script crossorigin="anonymous" src="/rk/v1/assets/tv/js/json-to-yaml.js"></script>
  <script crossorigin="anonymous" src="/rk/v1/assets/tv/js/moment.min.js"></script>
  <script crossorigin="anonymous" src="/rk/v1/assets/tv/js/popper.min.js"></script>
  <script crossorigin="anonymous" src="/rk/v1/assets/tv/js/pretty-print-json.min.js"></script>
  <script crossorigin="anonymous" src="/rk/v1/assets/tv/js/run-prettify.js"></script>
  <script crossorigin="anonymous" src="/rk/v1/assets/tv/js/marked.min.js"></script>
  <!--- icon --->
  <link rel="icon" type="image/x-icon" crossorigin="anonymous" href="/rk/v1/assets/tv/image/tv.svg">
  <!--- css --->
  <link rel="stylesheet" type="text/css" crossorigin="anonymous" href="/rk/v1/assets/tv/css/all.min.css">
  <link rel="stylesheet" type="text/css" crossorigin="anonymous" href="/rk/v1/assets/tv/css/custom.css">
  <link rel="stylesheet" type="text/css" crossorigin="anonymous" href="/rk/v1/assets/tv/css/main.min.css">
  <link rel="stylesheet" type="text/css" crossorigin="anonymous" href="/rk/v1/assets/tv/css/mobile.min.css">
  <link rel="stylesheet" type="text/css" crossorigin="anonymous" href="/rk/v1/assets/tv/css/pretty-print-json.css">
  <link rel="stylesheet" type="text/css" crossorigin="anonymous" href="/rk/v1/assets/tv/css/print.min.css">
  <link rel="stylesheet" type="text/css" crossorigin="anonymous" href="/rk/v1/assets/tv/css/style.min.css">
  <!--- font --->
  <link rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href="/rk/v1/assets/tv/css/fonts/DroidSans.woff2">
  <link rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href="/rk/v1/assets/tv/css/fonts/GeekdocIcons.woff2">
  <link rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href="/rk/v1/assets/tv/css/fonts/LiberationMono.woff2">
  <link rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href="/rk/v1/assets/tv/css/fonts/LiberationSans.woff2">
  <link rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href="/rk/v1/assets/tv/css/fonts/LiberationSans-Bold.woff2">
  <link rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href="/rk/v1/assets/tv/css/fonts/LiberationSans-BoldItalic.woff2">
  <link rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href="/rk/v1/assets/tv/css/fonts/LiberationSans-Italic.woff2">
  <link rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href="/rk/v1/assets/tv/css/fonts/Metropolis.woff2">
</head>
{{end}}