{{define "internal-error"}}
<!DOCTYPE html>
<html lang="en" class="color-toggle-light" color-mode="light">
{{template "head"}}

<body>
{{template "svg-sprite"}}
<div class="wrapper dark-mode-dim">
  {{template "header"}}
  <main class="container flex flex-even">
    {{template "aside"}}
    <!--- main page --->
    <div class="gdoc-page">
      <!--- content --->
      <article class="gdoc-markdown">
        <!--- Env Overview --->
        <blockquote class="gdoc-hint danger">
          <h1>Oops!</h1>
          <h2>500 Internal Server Error</h2>
          <div style="margin-top:15px;margin-bottom:15px;">Sorry, an error has occurred, Internal server error!<br></div>
        </blockquote>
      </article>
    </div>
  </main>
  {{template "footer"}}
</div>
</body>
</html>
{{end}}