{{define "os"}}
<!DOCTYPE html>
<html lang="en" class="color-toggle-light" color-mode="light">
{{template "head"}}

<body>
{{template "svg-sprite"}}
<div class="wrapper dark-mode-dim">
  {{template "header"}}
  <main class="container flex flex-even">
    {{template "aside"}}
    <!--- main page --->
    <div class="gdoc-page">
      <!--- header nav --->
      <div class="gdoc-page__header flex flex-wrap justify-between">
        <div>
          <svg class="icon gdoc_path hidden-mobile"><use xlink:href="#gdoc_path"></use></svg>
          <ol class="breadcrumb">
            <li><a href="/rk/v1/tv/os"><span itemprop="name">System</span></a></li>
            <li>/</li>
            <li><span itemprop="name">OS</span></li>
          </ol>
        </div>
      </div>
      <!--- content --->
      <article class="gdoc-markdown">
        <!--- OS Overview --->
        <div class="gdoc-page__anchorwrap"><h1 id="OS"> OS </h1></div>
        <!--- content --->
        <table>
          <thead>
            <tr>
              <th>OS Type</th>
              <th>Arch</th>
              <th>Hostname</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ .OsInfo.Os }}</td>
              <td>{{ .OsInfo.Arch }}</td>
              <td>{{ .OsInfo.Hostname }}</td>
            </tr>
          </tbody>
        </table>
        <br>
        <!--- CPU Overview --->
        <div class="gdoc-page__anchorwrap"><h2 id="CPU"> CPU </h2></div>
        <hr>
        <blockquote class="gdoc-hint info"><strong>CPU information while process runs.</strong></blockquote>
        <!--- content --->
        <table>
          <thead>
            <tr>
              <th>Used</th>
              <th>Logical</th>
              <th>Physical</th>
              <th>Vendor</th>
              <th>Model</th>
              <th>MHZ</th>
              <th>Cache</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ .CpuInfo.CpuUsedPercentage }}%</td>
              <td>{{ .CpuInfo.LogicalCoreCount }}</td>
              <td>{{ .CpuInfo.PhysicalCoreCount }}</td>
              <td>{{ .CpuInfo.VendorId }}</td>
              <td>{{ .CpuInfo.ModelName }}</td>
              <td>{{ .CpuInfo.Mhz }}</td>
              <td>{{ .CpuInfo.CacheSize }} bytes</td>
            </tr>
          </tbody>
        </table>
        <br>
        <!--- Memory Overview --->
        <div class="gdoc-page__anchorwrap"><h2 id="Memory"> Memory </h2></div>
        <hr>
        <blockquote class="gdoc-hint info"><strong>Memory information while process runs.</strong></blockquote>
        <!--- content --->
        <table>
          <thead>
            <tr>
              <th>Used %</th>
              <th>Used MB</th>
              <th>Mem Alloc</th>
              <th>Sys Alloc</th>
              <th>Last GC</th>
              <th>GC Count</th>
              <th>GC Count Force</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ .MemInfo.MemUsedPercentage }}%</td>
              <td>{{ .MemInfo.MemUsedMb }} MB</td>
              <td>{{ .MemInfo.MemAllocByte }}</td>
              <td>{{ .MemInfo.SysAllocByte }}</td>
              <td>{{ .MemInfo.LastGcTimestamp }}</td>
              <td>{{ .MemInfo.GcCount }}</td>
              <td>{{ .MemInfo.ForceGcCount }}</td>
            </tr>
          </tbody>
        </table>
        <br>
        <!--- Network Overview --->
        <div class="gdoc-page__anchorwrap"><h2 id="Network"> Network </h2></div>
        <hr>
        <blockquote class="gdoc-hint info"><strong>Network information while process runs.</strong></blockquote>
        <!--- content --->
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>MTU</th>
              <th>MAC</th>
              <th>Flags</th>
              <th>Addr</th>
              <th>Multicast Addr</th>
            </tr>
          </thead>
          <tbody>
            {{ range .NetInfo.NetInterface }}
            <tr>
              <td>{{ .Name }}</td>
              <td>{{ .Mtu }}</td>
              <td>{{ .HardwareAddr }}</td>
              <td>{{ range .Flags}}<li>{{.}}</li>{{ end }}</td>
              <td>{{ range .Addrs}}<li>{{.}}</li>{{ end }}</td>
              <td>{{ range .MulticastAddrs}}<li>{{.}}</li>{{ end }}</td>
            </tr>
            {{ end }}
          </tbody>
        </table>
      </article>
    </div>
  </main>
  {{template "footer"}}
</div>
</body>
</html>
{{end}}